body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body > main {
    flex: 1;
    min-height: 0;
    overflow: auto;
}

header {
    background: var(--pico-card-background-color);
    border-bottom: 1px solid var(--pico-muted-border-color);
}

footer {
    background: var(--pico-card-background-color);
    border-top: 1px solid var(--pico-muted-border-color);
}